#signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  justify-self: center;
  align-self: center;
  width: 60vw;
  .topRowContainer {
    display: flex;
    justify-content: space-around;
  }
  .labelAndInput {
    background-color: white;
    border-radius: 5px;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-right: 3vh;
    padding-left: 3vh;
    margin: 2vh;
    font-size: 1.2vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 2px 2px 10px black;
    box-shadow: -2px 2px 10px black;
  }
  .experienceRows {
    background-color: white;
    border-radius: 5px;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-right: 3vh;
    padding-left: 3vh;
    margin: 2vh;
    font-size: 1.2vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 2px 2px 10px black;
    box-shadow: -2px 2px 10px black;
    textarea {
      width: 40vw;
    }
    .experience {
      display: flex;
      .top {
      }
    }
  }
}
